body {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-image: url("../img/chalkboard.jpg");
  background-size: cover;
  color: whitesmoke;
  font-family: "Chalktastic";
}

header {
  font-size: 2rem;
}

main {
  width: min(30rem, 60vw);

  #board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    height: 100%;
    aspect-ratio: 1 / 1;

    .cell {
      background-color: transparent;
      border: 25px solid white;
      border-image: url(../img/chalkbox.webp) 30;
      font-size: 5rem;
    }
  }
}
