body {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-image: url("../img/chalkboard.jpg");
  background-size: cover;
  color: whitesmoke;
  font-family: "Chalktastic";
}

header {
  font-size: unset;
  transition: font-size 500ms ease;
}

header:has(+ main button.play) {
  font-size: clamp(1.5rem, 3vw + 0.5rem, 2rem);
}

main {
  width: min(30rem, 60vw);

  button {
    background-color: transparent;
    border: 20px solid white;
    border-image: url(../img/chalkbox.webp) 30;
    font-size: clamp(1rem, 8vw + 0.5rem, 5rem);
    transition: border 200ms ease;

    &:hover,
    &:focus-visible {
      border: 25px solid white;
      border-image: url(../img/chalkbox.webp) 30;
      outline: none;
    }
  }

  &:has(button.play) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
  }

  #board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    aspect-ratio: 1 / 1;
  }
}
