body {
  display: flex;
  justify-content: center;

  background-image: url("../img/chalkboard.jpg");
  background-size: cover;
  color: whitesmoke;
  font-family: "Chalktastic";
}

header {
  font-size: 2rem;
}
